$dark-blue-color: rgba(36, 104, 205, .5);

.home {
    margin: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $gray-text-color;

    .kanji {
        margin-top: 50px;
    }

    .kanji-list-item {
        height: 50px;
        width: 50px;
        border: 1px;
        box-shadow: 2px 2px 2px $dark-blue-color;
        border-color: $dark-blue-color;
        border-style: solid;
        margin: 5px;
        float: left;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        padding-top: 7px;
        text-decoration: none;
        color: $gray-text-color;

        &:hover {
            height: 50px;
            width: 50px;
            box-shadow: 4px 4px 4px rgba(36, 104, 205, .5);
        }
    }
}