$gray-text-color: rgba(0, 0, 0, .82);
$dark-blue-theme-color: rgba(36, 104, 205, .15);

@import "home";
@import "kanji";

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $gray-text-color;
}

header {
    // background-color: #2468CD;
    // opacity: 15%;
    background-color: $dark-blue-theme-color;


    .container {
        // max-width: 1400px;
        margin: 0;
        padding: 10px 20px;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
    }

    a {
        color: $gray-text-color;
        text-decoration: none;
    }
}