$gray-text-color: rgba(0, 0, 0, .67);
$dark-blue-theme-color: rgba(36, 104, 205, .15);

body {
    margin: 0;
}

header {
    // background-color: #2468CD;
    // opacity: 15%;
    background-color: $dark-blue-theme-color;


    .container {
        // max-width: 1400px;
        margin: 0;
        padding: 10px 20px;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
    }

    a {
        color: $gray-text-color;
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.home {
    margin: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $gray-text-color;

    .kanji {
        margin-top: 50px;
    }

    .kanji-list-item {
        height: 50px;
        width: 50px;
        border: 1px;
        box-shadow: 2px 2px 2px rgba(36, 104, 205, .5);
        border-style: solid;
        margin: 5px;
        float: left;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        padding-top: 7px;
        text-decoration: none;
        color: $gray-text-color;

        &:hover {
            height: 50px;
            width: 50px;
            box-shadow: 4px 4px 4px rgba(36, 104, 205, .5);
        }
    }
}